<nav class="cover-navigation navigation--social" style="margin-left:0px">
    <center>
<hr/>
<hr/>
        {{ if .Site.Params.github }}
        <!-- github -->
            <a href="https://github.com/{{ .Site.Params.github }}" title="{{ .Site.Params.github }} on github"> <i class='fa fa-github'></i> <span class="label">Github</span> </a>
        {{ end }}  {{ if .Site.Params.email }}
        <!-- Email -->
            <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}"> <i class='fa fa-envelope-o'></i> <span class="label">Email</span> </a>
        {{ end }} 
    </center>
</nav>
